*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    max-width: 1020px;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:hsl(228, 58%, 15%);
    width: 1020px;
    height: 445.5px;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    color: white;
}
span{
    color:hsl(288, 94%, 49%) ;
  
}
.right img{
   
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
}
.paragraph{
    margin-top: 40px;
    line-height:1.8em;
}
.paragraph .the{
    padding-right: 22px;
}
.paragraph .in{
    padding-right: 90px;
}

.heading{
    margin-top: 40px;
}

.left{
    text-align: center;
    padding: 30px;
}
.boxes{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
}
.box1 p{
    font-size: 12px;
padding-top: 5px;
padding-left: 25px;
}
.box2 p{
    font-size: 12px;
padding-top: 5px;
padding-left: 40px;
}
.box3 p{
    font-size: 12px;
padding-top: 5px;
padding-left: 5px;

}




